@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

$title-font: 'Pathway Gothic One', sans-serif;
$body-font: 'Lato', sans-serif;

$olin-blue: #0087c6;
$background: #faf7f4;

$border: 1px solid darkslategrey;

body {
    margin: 0;
    background-color: $background;
}

.app {
    font-family: $title-font;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .title {
        color: $olin-blue;
        font-size: 2em;
        text-align: center;
        padding: 0.5em;
    }

    .content {
        font-family: $body-font;
        display: flex;
        padding: 1em;

        .charts {
            flex: 1 1 auto;
            min-height: 628px;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;

            .chart {
                margin-right: 1em;

                &+.chart {
                    margin-top: 1em;
                }
            }
        }

        .links {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            min-width: 10em;

            .form-link {
                padding: 0.8em;
                background-color: white;

                &+.form-link {
                    margin-top: 1em;
                }

                .form-name {
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 0.4em;

                    & > a {
                        text-decoration: none;
                        color: $olin-blue;

                        &::after {
                            content: ' \1F5D7';
                        }
                    }
                }
            }
        }
    }
}
